body {
    max-width: 100%;
}

img {
    max-width: 80%;
    border: 1px solid black;
    border-radius: 1em;
}

#page1, #page2, #page3, #page4 {
    text-align: center;
    height: 1000px;
}

.site-header{
	background-color: rgb(241, 218, 114);
}

p {
    font-size: 1.5em;
    text-align: center;
 }
  
address {
    display: inline-block;
}

a, a:link, a:active {
    text-decoration: none;
    color: black;
}
  
a:hover, a:focus {
    color: rgb(253, 253, 253);
}
  