
img {
    max-width: 85%;
    border: 2px solid black;
    border-radius: 1em;
}

.cloud {
    border: none;
    max-width: 85%;
    margin-top: 200px;
}

#page1, #page2, #page3, #page4 {
    text-align: center;
    height: 1200px;
}

.site-header{
    background-color: rgb(241, 218, 114);
}

p {
    font-size: 30px;
    text-align: center;
 }

#p3 {
    text-align: center;
}

address {
    display: inline-block;
}

a, a:link, a:active {
    text-decoration: none;
    color: black;
}
  
.main-nav a:hover, .main-nav a:focus {
    color: rgb(253, 253, 253);
}
  