header {
    clear: both;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

footer {
  text-align: center;
}

.heading-group-h1 {
    max-width: 100%;
  }

   