
header {
  clear: both;
  list-style-type: none;
  overflow: hidden;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
.row{
  display: flex;
}

footer {
  text-align: center;
}

.heading-group-h1 {
  max-width: 100%;
}
